<form [formGroup]="formulario" (ngSubmit)="Crear()" id="formulario" role="ingreso"  novalidate >
    <ul>
        <div class="mb-3">
            <li>
                Nombre
                <br>
                <input formControlName = "nombre" type="text" >
            </li>
    
            <span *ngIf="this.formulario.get('nombre')?.errors?.required">
              <div id = "camp" class="alert alert-primary" role="alert">
                <p>¡Campo requerido!</p>
              </div>
            </span>

            
            <span *ngIf="this.formulario.get('nombre')?.errors?.email">
              <div id = "camp" class="alert alert-primary" role="alert" >
                  <p>formato invalido recuerde poner un mail valido ejemplo:example@gmail.com</p>
              </div>
            </span>
        </div>   


        <div class="mb-3">
            <li>
                Contraseña
                <br>
                <input formControlName = "contraseña" type="password">
            </li>
    
            <span *ngIf="this.formulario.get('contraseña')?.errors?.required">
              <div id = "camp" class="alert alert-primary" role="alert">
                <p>¡Campo requerido!</p>
              </div>
            </span>
        </div>   

        <ngx-recaptcha2 #captchaElem
          [siteKey]="siteKey"
          formControlName="recaptcha">
        </ngx-recaptcha2>
        <br>

        
      <button type="submit" value="iniciar sesion"   class="btn btn-dark mb-3" [disabled] = "formulario.invalid">iniciar sesion</button>
    

    </ul>

</form>
