<li *ngFor="let item of lista" class="lista">
      
  
  <div class="card" style="max-width: 60rem;">
    <div class="card-body">
      <h5 class="card-title">{{item.nombre}}</h5>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <img src="assets/{{item.imagen}}" class="card-img-bottom" alt="..." style="max-width: 40rem;">
    <div class = "objeto">
      <p class="card-text">{{item.descripcion}}</p>
      <br>
      <p class="precio">${{item.precio}}</p>
      <ngb-rating [(rate)]="item.puntuacion"></ngb-rating>
      </div>
    </div>
    
  
</li>



<div class="card" style="max-width: 60rem;">
  <div class="card-body">
    <h5 class="card-title">Comentarios:</h5>
  </div>
  <li *ngFor="let item of listaComentarios" class="lista">
    <div class = "objeto">
      <p>{{item.texto}}</p>
      <ngb-rating [(rate)]="item.puntuacion"></ngb-rating>
    </div>
  
  </li>
</div>
