li { 
    list-style: none;
}

.descripcion{
    font-size: 4em;
}


.precio{
    font-size: 2em;
    color: red;
}

.card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.objeto{
    margin-left: 2%;
    align-items: center;
}