li{
    list-style: none;
}

#productos{
    list-style-type: none;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.imagen{
    height: 20em;
    width: 20em;
    object-fit: cover;
}


.precio{
    font-size: 1.2em;
    color: red;
    font-weight: bold;
}

.lista{
    
    margin-left: 7em;
    margin-top: 3em;
}

ul li button:hover{
    background-color: red;
}