<form [formGroup]="formulario" (ngSubmit)="Crear()" id="formulario" role="ingreso"  novalidate >
    <ul>
        <div class="mb-3">
            <li>
                Email
                <br>
                <input formControlName = "email" type="email" >
            </li>
    
            <span *ngIf="this.formulario.get('email')?.errors?.required">
              <div id = "camp" class="alert alert-primary" role="alert">
                <p>¡Campo requerido!</p>
              </div>
            </span>

            
            <span *ngIf="this.formulario.get('email')?.errors?.email">
              <div id = "camp" class="alert alert-primary" role="alert" >
                  <p>formato invalido recuerde poner un mail valido ejemplo:example@gmail.com</p>
              </div>
            </span>
        </div>   



        <div class="mb-3">
            <li>
                Nueva contraseña
                <br>
                <input formControlName = "nuevaContraseña" type="password">
            </li>
    
            <span *ngIf="this.formulario.get('nuevaContraseña')?.errors?.required">
              <div id = "camp" class="alert alert-primary" role="alert">
                <p>¡Campo requerido!</p>
              </div>
            </span>
        </div>   

        <div class="mb-3">
          <li>
              Repetir contraseña
              <br>
              <input formControlName = "repetir" type="password">
          </li>
  
          <span *ngIf="this.formulario.get('repetir')?.errors?.required">
            <div id = "camp" class="alert alert-primary" role="alert">
              <p>¡Campo requerido!</p>
            </div>
          </span>
        </div>
        <span *ngIf="this.formulario.get('repetir')?.value != this.formulario.get('nuevaContraseña')?.value">
          <div id = "camp" class="alert alert-primary" role="alert">
            <p>Contraseñas no coinsiden</p>
          </div>
        </span>
        <span *ngIf="this.formulario.get('repetir')?.value == this.formulario.get('nuevaContraseña')?.value &&  this.formulario.get('repetir')?.value != ''">
          <div id = "camp2" class="alert alert-primary" role="alert">
            <p>!Bien contraseñas coinsiden</p>
          </div>
        </span>

        
      <button type="submit" value="recuperar contraseña"   class="btn btn-dark mb-3" [disabled] = "formulario.invalid">recuperar Contraseña</button>
     

    </ul>

</form>